body {
  background-image: linear-gradient(to bottom, #4a47a3, #365cad, #2b6eb2, #337eb3, #4a8db2, #5b96b6, #6ba0bb, #7ba9bf, #84b0ca, #8fb7d6, #9bbee0, #a7c5eb);
}
#carrusel{
margin-top: -2.5rem;
position: static;

}
#contenido-bajo {
  margin-top:1rem;
  border-radius:10px;


}

/*
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1D212B;
}*/
