<nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 bg-white rounded">
    <a class="navbar-brand" href="#">Distribuidora SG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Promociones</a> <span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Provedores
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Fabricantes</a>
            <a class="dropdown-item" href="#">Importadores</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Ingresar Orden de Compra</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Clientes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Catalogo</a>
              <a class="dropdown-item" href="#">Cotiza</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Atencion Personalizada </a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Trabajo social
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">¿Quienes somos?</a>
              <a class="dropdown-item" href="#">Vacantes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Ingresa tu C.V. </a>
            </div>
          </li>
        


      </ul>

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-person-badge"></i>Login</button>
 
    </div>
  </nav>